DelegatesEvents/.vs/DelegatesEvents/CopilotIndices/17.14.995.13737/CodeChunks.db
DelegatesEvents/.vs/DelegatesEvents/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
DelegatesEvents/.vs/DelegatesEvents/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
DelegatesEvents/.vs/DelegatesEvents/CopilotIndices/17.14.995.13737/SemanticSymbols.db
DelegatesEvents/.vs/DelegatesEvents/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
DelegatesEvents/.vs/DelegatesEvents/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
DelegatesEvents/.vs/DelegatesEvents/DesignTimeBuild/.dtbcache.v2
DelegatesEvents/.vs/DelegatesEvents/FileContentIndex/0523befd-ad35-444c-8823-b5d593a58430.vsidx
DelegatesEvents/.vs/DelegatesEvents/FileContentIndex/167dc86b-e7f9-42d2-b444-6dec4812f2c5.vsidx
DelegatesEvents/.vs/DelegatesEvents/FileContentIndex/e86f6027-b685-454b-b4ec-7ae63ffe63e9.vsidx
DelegatesEvents/.vs/DelegatesEvents/v17/.futdcache.v2
DelegatesEvents/.vs/DelegatesEvents/v17/.suo
DelegatesEvents/.vs/DelegatesEvents/v17/DocumentLayout.backup.json
DelegatesEvents/.vs/DelegatesEvents/v17/DocumentLayout.json
DelegatesEvents/.vs/ProjectEvaluation/delegatesevents.metadata.v9.bin
DelegatesEvents/.vs/ProjectEvaluation/delegatesevents.projects.v9.bin
DelegatesEvents/.vs/ProjectEvaluation/delegatesevents.strings.v9.bin
DelegatesEvents/DelegatesEvents/bin/Debug/net8.0/DelegatesEvents.deps.json
DelegatesEvents/DelegatesEvents/bin/Debug/net8.0/DelegatesEvents.dll
DelegatesEvents/DelegatesEvents/bin/Debug/net8.0/DelegatesEvents.exe
DelegatesEvents/DelegatesEvents/bin/Debug/net8.0/DelegatesEvents.pdb
DelegatesEvents/DelegatesEvents/bin/Debug/net8.0/DelegatesEvents.runtimeconfig.json
DelegatesEvents/DelegatesEvents/obj/DelegatesEvents.csproj.nuget.dgspec.json
DelegatesEvents/DelegatesEvents/obj/DelegatesEvents.csproj.nuget.g.props
DelegatesEvents/DelegatesEvents/obj/DelegatesEvents.csproj.nuget.g.targets
DelegatesEvents/DelegatesEvents/obj/project.assets.json
DelegatesEvents/DelegatesEvents/obj/project.nuget.cache
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/apphost.exe
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.AssemblyInfo.cs
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.AssemblyInfoInputs.cache
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.assets.cache
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.csproj.BuildWithSkipAnalyzers
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.csproj.CoreCompileInputs.cache
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.csproj.FileListAbsolute.txt
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.dll
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.GeneratedMSBuildEditorConfig.editorconfig
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.genruntimeconfig.cache
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.GlobalUsings.g.cs
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/DelegatesEvents.pdb
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/ref/DelegatesEvents.dll
DelegatesEvents/DelegatesEvents/obj/Debug/net8.0/refint/DelegatesEvents.dll
TestDirectory/.vs/ProjectEvaluation/testdirectory.metadata.v9.bin
TestDirectory/.vs/ProjectEvaluation/testdirectory.projects.v9.bin
TestDirectory/.vs/ProjectEvaluation/testdirectory.strings.v9.bin
TestDirectory/.vs/TestDirectory/CopilotIndices/17.14.995.13737/CodeChunks.db
TestDirectory/.vs/TestDirectory/CopilotIndices/17.14.995.13737/SemanticSymbols.db
TestDirectory/.vs/TestDirectory/DesignTimeBuild/.dtbcache.v2
TestDirectory/.vs/TestDirectory/FileContentIndex/bda7ea11-c7f5-4f94-b237-7579f264d13b.vsidx
TestDirectory/.vs/TestDirectory/v17/.futdcache.v2
TestDirectory/.vs/TestDirectory/v17/.suo
TestDirectory/.vs/TestDirectory/v17/DocumentLayout.backup.json
TestDirectory/.vs/TestDirectory/v17/DocumentLayout.json
TestDirectory/TestDirectory/bin/Debug/net8.0/TestDirectory.deps.json
TestDirectory/TestDirectory/bin/Debug/net8.0/TestDirectory.dll
TestDirectory/TestDirectory/bin/Debug/net8.0/TestDirectory.exe
TestDirectory/TestDirectory/bin/Debug/net8.0/TestDirectory.pdb
TestDirectory/TestDirectory/bin/Debug/net8.0/TestDirectory.runtimeconfig.json
TestDirectory/TestDirectory/obj/project.assets.json
TestDirectory/TestDirectory/obj/project.nuget.cache
TestDirectory/TestDirectory/obj/TestDirectory.csproj.nuget.dgspec.json
TestDirectory/TestDirectory/obj/TestDirectory.csproj.nuget.g.props
TestDirectory/TestDirectory/obj/TestDirectory.csproj.nuget.g.targets
TestDirectory/TestDirectory/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TestDirectory/TestDirectory/obj/Debug/net8.0/apphost.exe
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.AssemblyInfo.cs
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.AssemblyInfoInputs.cache
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.assets.cache
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.csproj.BuildWithSkipAnalyzers
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.csproj.CoreCompileInputs.cache
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.csproj.FileListAbsolute.txt
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.dll
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.GeneratedMSBuildEditorConfig.editorconfig
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.genruntimeconfig.cache
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.GlobalUsings.g.cs
TestDirectory/TestDirectory/obj/Debug/net8.0/TestDirectory.pdb
TestDirectory/TestDirectory/obj/Debug/net8.0/ref/TestDirectory.dll
TestDirectory/TestDirectory/obj/Debug/net8.0/refint/TestDirectory.dll
